$light_gray: #fafafa;
$shadow_color: rgba(255, 255, 255, 0.2);
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: url('../images/bg-img.jpg') no-repeat center center/cover;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: $light_gray;
}
.container {
	max-width: 68rem;
	width: 95%;
	margin: 0 auto 1.5rem;
}
.content__header {
	text-align: center;
	margin-top: 4.5rem;
	font-size: 3rem;
}
@media only screen and (max-width: 37rem) {
	.content__header {
		font-size: 2rem;
	}
}
@media only screen and (max-width: 25rem) {
	.content__header {
		font-size: 1.5rem;
	}
}
